<h1 class="heading">Register</h1>
<form class="form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
  <input id="usernameInput" class="control" formControlName="displayName" type="text" placeholder="Username" />
  <p class="error">Username is required.</p>
  <input id="emailInput" class="control" formControlName="email" type="email" placeholder="E-mail" />
  <p class="error">E-mail is required.</p>
  <input id="passwordInput" class="control" formControlName="password" type="password" placeholder="password" />
  <p class="error">Password is required.</p>
  <button id="submitButton" class="button" type="submit">Register</button>
</form>