<h1 class="heading">Register</h1>
<form class="form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
  <div class="group">
    <p *ngIf="authForm.controls.username.invalid && authForm.controls.username.touched" id="usernameError" class="error">
      Username is required.</p>
    <input id="usernameInput" class="control" formControlName="username" type="text" placeholder="Username" />
  </div>
  <div class="group">
    <p *ngIf="authForm.controls.email.invalid && authForm.controls.email.touched"  id="emailError" class="error">E-mail is required.</p>
    <input id="emailInput" class="control" formControlName="email" type="email" placeholder="E-mail" />
  </div>
  <div class="group">
    <p *ngIf="authForm.controls.password.invalid && authForm.controls.password.touched"  id="passwordError" class="error">Password is required.</p>
    <input id="passwordInput" class="control" formControlName="password" type="password" placeholder="password" />
  </div>
  <button id="submitButton" class="button" type="submit">Register</button>
</form>