@import "https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap";

// init variables
:root {
  // colors
  --neon-pink: #f0a;
  --neon-green: #af0;
  --neon-blue: #0af;
  --neon-yellow: #ff3;
  --neon-purple: #a0f;
  --neon-orange: #fa0;
  --neon-red: #f00;
}

// reset body
* {
  box-sizing: border-box;
  color: white;
  font-family: Epilogue, Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
