<h1 class="heading">Sign up</h1>
<form class="form" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
  <div class="group">
    <p *ngIf="signUpForm.controls.name.invalid && signUpForm.controls.name.touched" id="nameError" class="error">
      Name is required.</p>
    <input id="name" class="control" formControlName="name" type="text" placeholder="Name" />
  </div>
  <div class="group">
    <p *ngIf="signUpForm.controls.email.invalid && signUpForm.controls.email.touched"  id="emailError" class="error">E-mail is required.</p>
    <input id="emailInput" class="control" formControlName="email" type="email" placeholder="E-mail" />
  </div>
  <div class="group">
    <p *ngIf="signUpForm.controls.password.invalid && signUpForm.controls.password.touched"  id="passwordError" class="error">Password is required.</p>
    <input id="passwordInput" class="control" formControlName="password" type="password" placeholder="password" />
  </div>
  <button id="submitButton" class="button" type="submit">Sign up</button>
</form>