@import '../../../../styles/base';
@import "../../../../styles/form";

.heading {
  @include form-heading;
}

.google-sign-in-button {
  @include button;

  margin: auto;
}

.sign-up-link {
  @include link;

  display: block;
  text-align: center;
}