@import '../../../../styles/base';
@import "../../../../styles/form";

.heading {
  @include form-heading;
}

.form {
  @include form;

  margin-bottom: 2rem;

  @include respond-to-breakpoint(tablet) {
    max-width: 75%;
  }

  @include respond-to-breakpoint(desktop) {
    max-width: 50%;
  }

  .group {
   @include form-group;

    .control {
     @include form-control;
    }

    .error {
      @include form-error;
    }
  }
}

.button {
  @include button;
}

.sign-up-link {
  @include link;

  display:block;
  text-align: center;
}